<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="normalization.css" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css')}}" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
    </head>
    <body>
        
        <header class="site-header">
            <h1>Build-A-Blog</h1>
            <nav class="site-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">All Blogs</a></li>
                    <li><a href="/newpost">Write Blog</a></li>
                    <li><a href="#">About Us</a></li>
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% for category,message in messages %}
                            {% if category=='log' %}
                                <li class="{{category}}"><a href="/{{message}}">{{message}}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </ul>
            </nav>
        </header>

        <header class="page-header">
            <h1><span>{{title}}</span></h1>
        </header>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <div id="wrapper">
                <ul class="flash-msg">
                    {% for category,message in messages %}
                        {% if category != 'log' %}
                            <li class="{{category}}">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endwith %}
        <main>
        {% block content %}
        {% endblock %}
        </main>

    </body>
</html>