{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/entry.css')}}" />

<div id="wrapper">
    <div class="one-item">
        <p class="body">{{post.body}}</p>
        <hr />
        <p class="date">{{post.get_date()}} / </p>
        <p class="time">{{post.get_time()}}</p>
        <a href="/blog?user={{post.owner.id}}" type="text/html">
            <p class="user"> / {{post.owner.username}}</p>
        </a>
    </div>
</div>
{% endblock %}