{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css')}}" />


<form action="/login" method='POST'>

    <table>
        <tr>
            <td><input type="email" name="email" placeholder="Email" id="email" value="{{email}}" /></td>
        </tr>
        <tr>
            <td><input type="password" name="password" placeholder="Password" id="password" /></td>
        </tr>
        <tr class="center">
            <td><span><input type="submit" class="button" value="Login" class="center"/></span></td>
        </tr>
    </table>
</form>

{% endblock %}