{% extends "base.html" %}

{% block content %}

    <form action="/newpost" method="POST" class="new-post">
        <label for="post_title" >
            <span class="title-label" >Title:</span>
            <input type="text" name="post_title" id="post_title" value="{{post_title}}" class="post-title"/>
        </label>
        <label for="post_body">
            <span class="body-label">Your new post:</span>
            <textarea name="post_body" id="post_body" class="post-body">{{post_body}}</textarea>
        </label>
        <span><input type="submit" value="Add Blog" class="button" /></span>
    </form>



{% endblock %}