{% extends "base.html" %}

{% block content %}

<form action="/register" method='POST' class="register">

    <table>
        <tr>
            <td><input type="text" name="username" placeholder="Username" id="username" value="{{username}}" /></td>
        </tr>
        <tr>
            <td><input type="password" name="password" placeholder="Password" id="password" /></td>
        </tr>
        <tr>
            <td><input type="password" name="verify_password" placeholder="Verify Password" id="verify_password" /></td>
        </tr>
        <tr class="center">
            <td><input type="submit" class="button" value="Register" /></td>
        </tr>
    </table>
</form>

{% endblock %}