* {
    font-family: 'Lato', sans-serif;
}
.grid {
    display: grid;
    position: relative;
    margin: auto;
    grid-template-areas:    "site-header"
                            "page-header"
                            "main";
    grid-template-rows: 200px 100px 1fr;
    grid-gap: 10px;
    font-family: 'Lato', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.site-header {
    grid-area: site-header;
    margin: 0;
    padding:  0;
    text-align: center;
    letter-spacing: 0.02em;
}

.site-nav {
    border-top: 0.7px solid #000;
    border-bottom: 2px solid #000;
    font-size: 12pt;
    font-style: italic;
    margin:  0;
    padding: 0 10px;
    word-spacing: 0.09em;
}

.site-nav li {
    display: inline-block;
    margin: 0 5px;
    padding: 0 10px;
    text-transform: uppercase;
}

.page-header {
    grid-area: page-header;
    position: relative;
    font-size: 12pt;
    word-spacing: 0.1em;
    letter-spacing: 0.08em;
    color: #000;
    opacity: 0.5;
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}

.page-header span {
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    border-bottom-color: rgba(0,0,0,0.3);
    margin-bottom: 20px;
}


main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0 20px;
    font-size: 12pt;
}



p {
    padding: 0;
    margin: 5px 0;
    display: inline-block;
}



.descriptors {
    text-align: center;
    font-style: italic;
    font-size: 12pt;
    opacity: 0.5;
}



.login, .register {
    text-align: center;
}
.login table, .register table {
    margin: 1em 1.5em;
}
.login td, .register td {
    padding: 2px;
}
.login input, .register input {
    font-family: monospace;
    font-size: 14pt;
    padding: 5px;
    font-style: italic;
}
.login .button, .register .button {
    font-family: monospace; 
    font-size: 14pt;
    margin: 10px;
}
.login .span, .register .span {
    display: block;
    text-align: center;
}


.blog-item {
    min-width: 12%;
    max-width: 20%;
    padding: 30px;
    margin: 10px 40px 40px 40px;
    border: 2px solid black;
    border-radius: 2px;
}
.blog-item p {
    padding: 0 5px 0 0;
    margin: 5px 0;
    font-size: 10pt;
    display: inline-block;
}
.blog-item .body {
    font-size: 14pt;
    padding: 10px 0 0 0;
    word-spacing: 0.1em;
    line-height: 1.5;
}
.blog-item .title {
    padding: 0;
    margin: 0 0 10px 0;
}
.blog-item hr {
    padding: 0;
    margin: 0;
}


main .title {
    padding: 0 0 5px 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.single-entry .title {
    font-size: 18pt;
}
.single-entry .body {
    font-size: 20pt;
    word-spacing: 0.1em;
    line-height: 1.5;
    padding: 16px 0 0 0; 
}

.new-post {
    display: block;
    text-align: center;
}

.title-label, .body-label {
    display: block;
    text-align: center;
    margin: 10px;
}

label {
    display: block;
    text-align: center;
}

.post-title {
    width: 400px;
    height: 20px;
    margin: 10px 10px 20px 10px;
}

.post-body {
    width: 400px;
    height: 200px;
    margin: 10px;
}


.title {
    padding: 0;
    margin: 0 0 10px 0;
}

.error {
    color: red; 
}

#wrapper {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.flash-msg {
    text-align: center;
}

li {
    display: block;
}

