/* styles.css for blog.html */


p {
    padding: 0 5px 0 0;
    margin: 5px 0;
    font-size: 10pt;
    display: inline-block;
}

.title {
    padding: 0;
    margin: 0 0 10px 0;
}

.name, .date, .time {
    font-style: italic;
}

a {
    display: block;
}

.page-header {
    text-transform: uppercase;
}

.date, .time {
    opacity: 0.5;
}